Checks: >
  *,

  -altera-unroll-loops,
  -cppcoreguidelines-avoid-magic-numbers,
  -llvm-header-guard,
  -llvmlibc-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers
WarningsAsErrors: "*"